.nafn1{
	color:white;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 50px;
	justify-content: center;
	text-align: center;
}
.nafn2{
	color:#ff3300;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 50px;
	justify-content: center;
	text-align: center;
}